body {
  background-color: #FF99FF;
}
h1, h2, h3, h4 {
  font-family: Helvetica, Tahoma, sans-serif;
  font-weight: bolder;
}

p {
  font-family: Lucida Sans Unicode, arial, sans-serif;
}

.section {
  background-color: #99CCFF;
  padding: 1em;
  margin: 1em;
  border: 1em solid white;
}

#headphoto {
  width: 100%;
  height: auto;
  align: center;
}

.subtitle {
  font-family: Century Gothic;
}

.video {
  align: center;
  width: auto;
  height: auto;
  max-height: 75%;
  max-width: 75%;
}

.Sprites {
  display: flex;
  justify-content: space-between;
}

.spriteImgs {
  width:
}
